spring:
  application:
    name: bian-mail

mailersend:
  api:
    token: ${API_TOKEN}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true

my:
  service:
    url: ${USER_URL:http://localhost:8081}